<ion-header>
  <ion-toolbar>
    <ion-title class="title">Notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Back Button -->
  <ion-button color="dark" class="back-button" slot="start">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <!-- Title -->

  <!-- Illustration Image -->
  <div class="image-container">
    <img
      src="/assets/img/logo-notifikasi.png"
      alt="Reset Password Illustration"
    />
  </div>

  <!-- Instruction Text -->
  <h1 class="notifikasi-text-h1">Kami Akan Beritahu</h1>
  <p class="notifikasi-text-p">
    Kembali lagi nanti untuk Notifikasi, Pengingat, Laporan Kesehatan dan Jadwal
  </p>

  <!-- Submit Button -->
  <ion-button expand="block" color="danger" class="submit-button">
    Simpan
  </ion-button>
</ion-content>
