<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="title-header"> Hi, Arya Andika </ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/img/profile-picture.jpg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-section">
    <p class="date-text">Today mon, 7 Sep 2023</p>
  </div>

  <div class="card-image-container">
    <img
      src="assets/img/fire-warning.jpg"
      alt="Jadwal Scan Apar"
      class="card-image"
    />
    <div class="overlay-text">
      <h2>Jadwal Scan Apar</h2>
      <div class="progress-indicator">
        <span class="indicator yellow"></span>
        <span class="indicator gray"></span>
        <span class="indicator gray"></span>
      </div>
    </div>
  </div>

  <div class="report-card">
    <h3>Laporan Saya</h3>
    <div class="points">Poin: 12</div>
    <div class="stats">
      <div class="stat-item">
        <p class="label">Laporan Terbaru</p>
        <p class="value">12</p>
      </div>
      <div class="stat-item">
        <p class="label">Sedang Diproses</p>
        <p class="value">2</p>
      </div>
      <div class="stat-item">
        <p class="label">Laporan Selesai</p>
        <p class="value">5</p>
      </div>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3" class="icon-col">
        <ion-icon name="document-outline" class="icon"></ion-icon>
        <p>Draft Laporan</p>
      </ion-col>
      <ion-col size="3" class="icon-col">
        <ion-icon name="search-outline" class="icon"></ion-icon>
        <p>Dalam Pengecekan</p>
      </ion-col>
      <ion-col size="3" class="icon-col">
        <ion-icon name="clipboard-outline" class="icon"></ion-icon>
        <p>Tugas Saya</p>
      </ion-col>
      <ion-col size="3" class="icon-col">
        <ion-icon name="hourglass-outline" class="icon"></ion-icon>
        <p>Menunggu Pengecekan</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="icon-col">
        <ion-icon name="checkmark-done-outline" class="icon"></ion-icon>
        <p>Laporan Selesai</p>
      </ion-col>
      <ion-col size="3" class="icon-col">
        <ion-icon name="close-circle-outline" class="icon"></ion-icon>
        <p>Laporan Ditolak</p>
      </ion-col>
      <ion-col size="3" class="icon-col">
        <ion-icon name="person-outline" class="icon"></ion-icon>
        <p>Panduan Pengguna</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
