.intro-container {
    text-align: center;
    padding: 20px;
    margin-top: 15%;
  }
  
  .intro-image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .intro-title {
    font-size: 20px;
    margin-top: 20px;
    font-style: bold;
  }
  
  .intro-description-up {
    font-size: 14px;
    margin-top:-10px;
    margin-bottom: 50px;
  }

  .intro-description-up a {
    color: rgba(167, 11, 11, 1);
  }

  ion-button {
    margin-top: 30px;
    color: white;
    width: auto;
  }

  ion-grid {
    margin-top: 15px;
    margin-left: -65px;
  }

  ion-icon {
    font-size: 28px;
    margin-top: -15px;
    color: rgba(167, 11, 11, 1);
  }


  .intro-description-below  {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 5px;
    text-align: center;
  }

  .izin1 {
    margin-left: -60px;
    margin-top: -9px;
  }

  .izin2 {
    margin-left: -60px;
    margin-top: -9px;
  }

  .izin3 {
    margin-left: -8px;
    margin-top: -9px;
  }

  .file {
    margin-left: 34px;
  }
