<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Berita Terkini</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="share-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="news-container">
    <img
      src="assets/img/background-news.png"
      alt="News Image"
      class="news-image"
    />

    <div class="news-details">
      <p class="news-date">Senin 29 Nov 2023</p>
      <h1 class="news-title">
        Kilang utama terbakar, 5 unit pemadam kebakaran di kerahkan
      </h1>
      <p class="news-content">
        Sebab sebagai kilang dengan pasokan terbesar, semestinya Pertamina
        menjaga aset yang sangat penting tersebut dengan menerapkan sistem
        keamanan yang super canggih dan berlapis sehingga mencapai nihil
        kecelakaan. Tapi insiden kebakaran di kilang Cilacap tercatat sudah
        tujuh kali terjadi sejak tahun 1995 dan mayoritas penyebabnya diklaim
        karena faktor alam, yakni tersambar petir atau teritupan angin kencang.
      </p>

      <h2 class="sub-title">Terdapat beberapa perubahan</h2>
      <p class="news-content">
        Fahmy menduga ada unsur kesengajaan merujuk pada rentetan peristiwa
        tersebut. "Saya menduga ada semacam unsur kesengajaan kebakaran
        beruntun. Kalau dugaan saya benar, apa tujuannya?" kata Fahmy.
      </p>
    </div>
  </div>
</ion-content>
