<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" class="back-button" fill="clear">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Atur Ulang Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Back Button -->
  <ion-button color="dark" class="back-button" slot="start">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>

  <!-- Title -->

  <!-- Illustration Image -->
  <div class="image-container">
    <img src="/assets/img/cuate.png" alt="Reset Password Illustration" />
  </div>

  <!-- Instruction Text -->
  <p class="instruction-text">
    Silakan Masukkan Alamat Email Anda Untuk Menerima Kode Verifikasi.
  </p>

  <!-- Email Input Field -->
  <ion-item lines="full" class="input-item">
    <ion-input placeholder="Alamat Email" type="email"></ion-input>
  </ion-item>

  <!-- Submit Button -->
  <ion-button
    expand="block"
    color="danger"
    class="submit-button"
    [routerLink]="['/verifikasi-email']"
  >
    Kirim
  </ion-button>
</ion-content>
