<ion-header>
  <ion-toolbar>
    <ion-title>Panic Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Apakah Anda dalam bahaya?</h2>
  <p class="description">
    Isikan form dibawah ini dan bantuan akan segera mendatangi anda
  </p>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Jenis Kejadian</ion-label>
      <ion-select placeholder="Pilih Jenis Kejadian">
        <ion-select-option value="kebakaran">Kebakaran</ion-select-option>
        <ion-select-option value="kecelakaan">Kecelakaan</ion-select-option>
        <ion-select-option value="kerusuhan">Kerusuhan</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="inline-fields">
      <ion-item>
        <ion-label position="stacked">Unit</ion-label>
        <ion-input placeholder="All Unit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Area</ion-label>
        <ion-input placeholder="Gerbang Utama"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label position="stacked">Keterangan</ion-label>
      <ion-textarea
        placeholder="Masukkan keterangan kejadian..."
      ></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Kirim lokasi saya?</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="danger">
    <ion-icon name="send-outline" slot="start"></ion-icon>
    Kirim
  </ion-button>
</ion-content>
