<ion-header>
  <ion-toolbar>
    <ion-title>Panic Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Apakah Anda dalam bahaya?</h2>
  <p class="description">
    Isikan form dibawah ini dan bantuan akan segera mendatangi anda
  </p>

  <ion-list>
    <ion-select
      fill="outline"
      label-placement="floating"
      label="jenis kejadian"
    >
      <ion-select-option value="kebakaran">Kebakaran</ion-select-option>
      <ion-select-option value="kecelakaan">Kecelakaan</ion-select-option>
      <ion-select-option value="kerusuhan">Kerusuhan</ion-select-option>
    </ion-select>

    <div class="inline-fields">
      <ion-input
        label="unit"
        label-placement="floating"
        fill="outline"
        position="stacked"
      ></ion-input>

      <ion-input
        label="Area"
        label-placement="floating"
        fill="outline"
        position="stacked"
      ></ion-input>
    </div>

    <ion-input
      label="Keterangan"
      label-placement="floating"
      fill="outline"
      position="stacked"
    ></ion-input>

    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Kirim lokasi saya?</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="danger">
    <ion-icon name="send-outline" slot="start"></ion-icon>
    Kirim
  </ion-button>
</ion-content>
