.inline-fields {
  display: flex;
  gap: 10px;
}

.inline-fields ion-input {
  flex: 1;
}

ion-input {
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

ion-select {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
  font-size: 14px;
}

ion-button {
  margin-top: 20px;
  --background: #b71c1c;
}
