<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="compass"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="safety" href="/tabs/safety">
      <ion-icon name="reader"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="panic" href="/tabs/panic">
      <ion-icon name="warning"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification" href="/tabs/notification">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
