<ion-header class="ion-no-border">
  <!-- Background Image with Overlay Logo -->
  <div class="header-image-container">
    <img src="/assets/img/face.png" alt="Header Image" class="header-image" />
    <img src="/assets/icon/Logosetting.png" alt="Logo" class="logo-overlay" />
  </div>
</ion-header>

<ion-content>
  <!-- Login Form Container -->
  <div class="login-container">
    <h2 class="deskripsi">Selamat Datang</h2>
    <p class="deskripsi-input">
      Keluarga menunggu di rumah, jaga keselamatan dan patuhi SOP
    </p>

    <!-- Username Input -->
    <ion-input
      class="input-item"
      label="Nama"
      label-placement="floating"
      fill="outline"
      type="text"
      position="stacked"
      mode="md"
    ></ion-input>

    <!-- Password Input with Toggle -->

    <ion-input
      class="input-item"
      label="Kata Sandi"
      label-placement="floating"
      fill="outline"
      type="password"
      mode="md"
      position="stacked"
    ></ion-input>

    <!-- Remember Me and Forgot Password -->
    <ion-item lines="none" class="remember-me">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Ingat Saya</ion-label>
      <ion-button
        fill="clear"
        slot="end"
        color="danger"
        class="forgot-password"
        [routerLink]="['/forgot-password']"
        >Lupa Kata Sandi?</ion-button
      >
    </ion-item>

    <!-- Login Button -->
    <ion-button
      expand="block"
      color="danger"
      class="login-button"
      [routerLink]="['/tabs']"
    >
      Masuk
    </ion-button>

    <!-- Separator -->
    <div class="separator">
      <div class="line"></div>
      <p>Atau</p>
      <div class="line"></div>
    </div>

    <!-- Social Login Buttons -->
    <ion-button
      expand="block"
      fill="outline"
      color="medium"
      class="social-button"
    >
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Masuk Dengan Google
    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      color="medium"
      class="social-button"
    >
      <ion-icon slot="start" name="logo-apple"></ion-icon>
      Masuk Dengan Apple
    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      color="medium"
      class="social-button"
    >
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Masuk Dengan Facebook
    </ion-button>

    <!-- Version -->
    <p class="version">Ver. 1.0.1</p>
  </div>
</ion-content>
