.profile-header {
  position: relative;
  text-align: center;

  .background-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .profile-picture-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-left: 130px;
    border: 5px solid white; /* Menggabungkan border-width, border-color, dan border-style */
    margin-top: -50px;
    z-index: 1;
    position: relative; /* Tambahkan posisi relatif agar ikon dapat diposisikan dengan benar */

    .profile-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px; /* Pastikan gambar mengikuti bentuk wrapper */
    }

    .edit-icon {
      position: absolute; /* Agar berada di sudut gambar */
      bottom: 0;
      right: 0;
      background: white;
      border-radius: 50%;
      padding: 4px;
      color: #d9534f;
      font-size: 16px;
      border: 1px solid #d9534f; /* Menambahkan border untuk estetika */
    }
  }
}

.form-list {
  margin-top: 60px;

  ion-item {
    --border-color: #d9534f;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px 16px;
  }

  ion-label {
    color: #d9534f;
    font-weight: bold;
  }

  ion-input {
    font-weight: normal;
  }
}
