<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <img
      src="assets/img/background.jpg"
      alt="Background"
      class="background-image"
    />
    <div class="profile-picture-wrapper">
      <img
        src="assets/img/profile-picture.jpg"
        alt="Profile Picture"
        class="profile-picture"
      />
      <ion-icon name="camera-outline" class="edit-icon"></ion-icon>
    </div>
  </div>

  <ion-list lines="none" class="form-list">
    <ion-item>
      <ion-label position="stacked">User Name</ion-label>
      <ion-input value="Dimas Pramatya Wijaya" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date of Birth</ion-label>
      <ion-select placeholder="Juli 27 2006" readonly>
        <ion-select-option>Juli 27 2006</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Group</ion-label>
      <ion-input value="Petugas" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Login at</ion-label>
      <ion-input value="19 Oktober 2023 16.45" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Company</ion-label>
      <ion-input value="PT. Pertamina Persero" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
