.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 140px;
    width: 100%;
    z-index: 1;
    background-color: rgba(167, 11, 11, 1);
  }

  .bg {
    margin-top: -135px;
    // margin-left: 0px;
    width: 1500px;
    // z-index: -10;
    position: absolute;
  }
  
  .header-left {
    color: white;
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .welcome-message {
    font-size: 1.4rem;
    margin: 0;
  }
  
  .today-date {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .profile-avatar {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 20px;
  }
  
  .floating-card {
    height: 160px;
    width: 361px;
    border-radius: 16px;
    // border: 10px;
    position: relative;
    top: -10px; /* Make the card float right above the toolbar */
    bottom: -10px;
    margin-left: 95%;
    transform: translateX(-50%);
    z-index: 2;
    overflow: hidden;
    text-align: start;
    background-color: transparent;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    margin-top: 3px;
  }
  
  .floating-title {
    position: absolute;
    bottom: 10px; /* Adjust to move the text more in line with your preference */
    left: 20px;
    z-index: 3;
    color: white;
  }
  
  .overlay-label {
    color: white;
    font-weight: bold;
    font-size: 1.2rem; 
  }
  
  ion-grid{
    margin-left: -15px;
  }
  
  ion-col {
    color: #000000;
    text-align: center;
    margin: auto;
    // border: solid 1px #fff;
  }
  
  .img-icon {
    margin-top: 20px;
    height: 30px;
    width: 30px;
  }
  
  .row-up {
    margin-top: -32px;
  }
  
  .row-below {
    margin-top: -10px;
  }
  
  .k3 {
    background-color:rgba(20, 100, 201, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 15px;
  }
  
  .damkar {
    background-color:rgba(237, 26, 22, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 23px;
  }
  
  .kesehatan {
    background-color:rgba(20, 184, 166, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 25px;
  }
  
  .surat {
    background-color:rgba(255, 185, 62, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 25px;
  }
  
  
  .safety {
    background-color:rgba(238, 230, 29, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
  }
  
  .patrol {
    background-color:rgba(255, 165, 0, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
    // margin-top: -10px;
  }
  
  .inventory {
    background-color:rgba(202, 95, 19, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
  }
  
  .hse {
    background-color:rgba(143, 19, 202, 0.2);
    height: 70px;
    width: 70px;
    margin: auto;
    margin-top: 5px;
  }
  
  a {
    color: rgb(0, 0, 0);
    font-size: 10px;
    display: inline-block;     
    margin-top: 10px;
    // text-align: justify; 
  }

  .card-news {
    height: 196px;
    width: 240px;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: 90px;
  }

  .img-news {
    object-fit: cover;
    height: 120px;
    width: 240px;
  }
  
  .save-news {
    font-size: 20px;
    margin-left: 185px;
    margin-top: 10px;
    margin-bottom: -15px;
  }

  ion-card-subtitle {
    color: #000000;
    font-size: 20px;
    margin-top: -10px;
    position: relative;
    display: flex;
  }

  ion-card-content {
    font-size: 10px;
    margin-top: -20px;
    margin-left: 8px;
  }

  .truncate {
    max-width: 90%;       /* Adjust width as needed */
    white-space: nowrap;   /* Prevents text from wrapping to the next line */
    overflow: hidden;      /* Hides overflow text */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
    display: inline-block; /* Ensures ellipsis is applied */
  }

  .save {
    right: 20px;
    bottom: -20px;
  }
  
  .fav{
    font-size: 20px;
    margin-left: 180px;
    margin-top: 20px;
  }

  swiper-container {
    --swiper-pagination-bullet-inactive-color: rgba(167, 11, 11, 1);
    --swiper-pagination-color: rgba(255, 204, 61, 1);
  }

  .swiper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    // padding-left: 1px;
    // margin-right: -100px;
  }